.text2
{
    color:white;
}
.container6
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -400px;
    margin-top: -60px;
}
.container7 
{
    height: 270px;
    width: 450px;
    background-color:black;
    border: 2px solid transparent;
    border-color: aqua;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius:120px;
    text-align: center;
    margin-left: 400px;
}

.container8
{
    height: 270px;
    width: 450px;
    background-color: black;
    border: 2px solid transparent;
    border-color: aqua;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius:120px;
    text-align: center;
    margin-top: 250px;
}

.container9
{
    height: 270px;
    width: 450px;
    background-color: black;
    border: 2px solid transparent;
    border-color: aqua;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius:120px;
    text-align: center;
} 
.container10
{
    margin-top: 50px;
    margin-left: 10px;
}
.hobbiesitemset
{
    margin-left: -35px;
    list-style: none;
    color: white;
    margin-top: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.container7 h3
{
    padding-top: 15px;
    color: aqua;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style:italic;
}
.strengthitemset
{
    list-style: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: -30px;
}
.container8 h3
{
    color: aqua;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style:italic;
    margin-top: 15px;
}
.weaknessitemset
{
    list-style: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: -30px;
}
.container9 h3
{
    color: aqua;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style:italic;
    margin-top: 15px;
}
.image2
{
    margin-top: -770px;
    margin-left: 500px;
    height: 200px;
}